#header {
    padding-top: 30px; 
    padding-left: 120px; 
    padding-bottom: 60px; 
    width: 60%;
}

#sections {
    padding-left: 120px; 
    width: 60%;
}

.chart {
    height: 400px; 
}

.title {
    font-size: 40px; 
    font-weight: bold;
    border-bottom: 3px solid #000000;
}

h1 {
    background: rgba(0, 0, 0, 0.05);
}

h2 {
    border-bottom: 1px dashed #000000;
}
